.product {
    height: 100vh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    ;
}

.productImg {
    width: 50%;
   }

.productDetails {
    position: absolute;
    top: 10%;
    right: 0;
    width: 40%;
    padding: 50px;
}

.productTitle {
   font-size: 75px;
   font-weight: 900px;
}

.productDesc {
    font-style: 24px;
    color: gray;
}

.colors, .sizes {
    display: flex;
    margin: 10px 10px;
}
.color {
    width: 32px;
    height: 32px;
    border-radius: 5px;
    background-color: black;
    margin-right: 10px;
    cursor: pointer;
}

.color:last-child {
    background-color: darkblue;
}

.size{
    padding: 5px 20px;
    border: 1px solid black;
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
    
}

.productButton {
    float: right;
    margin-top: 100px;
    padding: 10px 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.productButton:hover {
     background-color: aliceblue;
     color: black;
}

.size:hover {
    background-color: black;
    color: white;
    transition: 0.6s;
}