.features {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3.1rem;
}

.feature {
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
}

.featureIcon {
    width: 3rem;
    height: 3rem;
}


.featureTitle {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 20px;
}

.featureDesc {
    color: gray; 
    width: 50%;
    height: 100px;
}