footer {
    display: flex;
  }
  
  .footerLeft {
    flex: 2;
    display: flex;
    justify-content: space-between;
    padding: 50px;
  }
  
  .fMenuTitle {
    font-size: 16px;
  }
  
  .fList {
    padding: 0;
    list-style: none;
  }
  
  .fListItem {
    margin-bottom: 10px;
    color: gray;
    cursor: pointer;
  }
  
  .footerRight {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

 .fInput {
  padding: 5px;
 }

 .fButton {
  padding: 5px;
  background-color: black;
  color: white;
 }

 .footerRightMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.fIcons {
  display: flex;
}

.fIcon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.devName {
  font-weight: 300;
  font-style: 14px;
}